table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

.btn-section {
    display: flex;
    width: 100%;
    justify-content: center;
  }

.btn-section button{
    margin: 10px;
  }

.btn-section p{
    margin: 10px;
  }
.input-section input{
    display: flex;
    width: 100%;
    justify-content: center;

}

